/* universal selector */
* {
  font-family: "Courier New";
}
/* element selector */
h1,
h3 {
  color: #b92b27;
}

/* id selector */
#login {
  background-color: white;
}
#signup {
  background-color: #b92b27;
  color: white;
}
/* class selector */
.upvote {
  background-color: green;
  color: white;
}

/* div[id = "myId"] p {
  color: green;
} */

#myId p {
  color: green;
}
/* descendant selector */
.post a {
  color: purple;
  background-color: yellow;
}
/* Descendant Selector*/
nav a {
  color: hotpink;
}

/* Adjacent sibling selrctor */
p + h3 {
  text-decoration: underline;
}
.upvote + button {
  background-color: cornflowerblue;
  color: darkblue;
}
/* child combinator */
div > input {
  background-color: darksalmon;
}
/* Attribute Selector */
input[type="text"] {
  color: red;
}
input[type="password"] {
  color: green;
}
input[type] {
  background-color: ghostwhite;
}
